@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-tertiary {
    @apply border-none shadow-none bg-background hover:bg-background hover:border-none hover:text-primary-hover-dark;
}

.nav-link {
    @apply hover:text-primary-hover-dark;
}

.hero-gradient {
    background: linear-gradient(135deg, #4a90e2 0%, #a3d5ff 50%, #ffb7c5 100%);
}

.custom-link {
    @apply underline text-text hover:text-primary-hover-dark;
}

.admin-nav-link-title {
    @apply mt-2 text-sm cursor-default text-discard
}

.collapse, .table {
    overflow: visible !important;
}

.settings-active {
    @apply text-white rounded bg-primary
}

.toggle {
    background-color: #6b7280; /* Set the color when toggled OFF */
    color: #6B7280; /* Adjust the color of the handle or icon when toggled OFF */
}


